/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap'); */

@tailwind base;
@tailwind components;
@tailwind utilities;



*{
  box-sizing: border-box;
  margin:0;
  padding:0;
  outline:none;
  
}

body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}
